@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,700&display=swap");
body {
	background-color: #eef9bf;
	font-family: "Roboto Serif", serif;
	color: #75b79e;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: relative;
}

h1 {
	font-weight: 700;
	font-size: 56px;
	line-height: 66px;
	margin-top: 40px;
	margin-bottom: 50px;
}

li {
	display: inline;
	float: left;
}

.card {
	width: 117px;
	height: 146px;
	background-color: #99cea8;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	transition: all 2s;
	transform-style: preserve-3d;
	border-radius: 5px;

	margin: 15px;
}

.face {
	position: absolute;
	background-color: #99cea8;
}
.face img {
	width: 100px;
	height: 100px;
}
.front {
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
.back {
	backface-visibility: hidden;
}

.flip {
	transform: rotateY(180deg);
}
.correct {
	transform: rotateY(180deg);
	transition: none;
}
.square1,
.square2 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.counter {
	width: 100px;
	height: 30px;
	background-color: tomato;
	color: white;

	position: absolute;
	right: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*-------- LAYOUT CELULAR --------*/
@media (max-width: 550px) {
	body h1 {
		text-align: center;
		font-size: 36px;
		line-height: 42px;
	}
	.card {
		margin: 10px;
	}
	.container {
		display: flex;
		justify-content: space-evenly;
	}
	.square1,
	.square2 {
		height: 100%;
		width: 100%;
		display: block;
		margin-bottom: 20px;
	}
}

@media (max-width: 720px) and (min-width: 555px) {
	body {
		text-align: center;
	}
	.card {
		margin: 5px;
	}
	.card img {
		width: 100%;
	}
}
